
.rp_main {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    margin-top: 100px;
    z-index: 2;
}
.rp_ans_check_btn{    
    display: none;
    background-color: rgb(11, 99, 59);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 20px;
    margin-right: 150px;
    cursor: pointer;
    float: right;
}
.rp_ans_check_btn{
    color: white;
}
.rp_ans_check_btn:hover{
    background-color: white;
    color: rgb(11, 99, 59);
}
.rp_fulltext {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(242, 242, 242, 0.96);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    overflow: auto;
}
.rp_main {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    margin-top: 100px;
    z-index: 2;
}
.rp_fulltext h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 1200;
    line-height: 1.5;

}

.rp_fulltext h4 {
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    color: rgb(11, 99, 59);
    font-weight: 600;
    line-height: 1.5;
}

.rp_fulltext p {
    height: 230px;
    overflow: scroll;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;

}

.rp_question {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(242, 242, 242, 0.96);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    overflow: auto;
    margin-bottom: 100px;
}

.rp_question_text {
    text-align: left;
    font-size: 27px;
    margin-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    color: black;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: -20px;
}

.non-click{
    width: 80%;
    margin-left: 65px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
    overflow: auto;
    cursor: pointer;
    border-radius: 15px;
}

.rp_question_choice :last-child {
    margin-bottom: 30px;
}

.non_click:hover {
    background-color: rgb(11, 99, 59, 0.7);
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.click{
    background-color: rgb(11, 99, 59, 0.7);
    color: white;
    width: 80%;
    margin-left: 65px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
    border-radius: 15px;
    overflow: auto;
    cursor: pointer;
}
.reading_submit_btn{
    margin:0;
    float: right;
}
.reading_submit{
    margin-bottom: 20px;
    margin-top: -70px;
    margin-right: 26px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color:rgb(11, 99, 59);
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
    overflow: auto;
    cursor: pointer;
}
.reading_submit:hover{
    background-color: rgb(11, 99, 59, 0.7);
    color: white;
    font-weight: bold;
    font-size: 27px;
}

.solution_explain{
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    padding: 2rem;
    padding-left: 70px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.solution_explain h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 10rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    color: rgb(11, 99, 59);
    margin-left: 20rem;
    text-align: left;
}
.ex_content{
    word-break: keep-all;
    font-size: 1rem;
    color: rgb(11, 99, 59);
    padding-right: 700px;
    line-height: 3;
    margin-left: 20rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    font-weight: 600;
    text-align: left;
}
.ex{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(11, 99, 59);
    margin-left: 20rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    text-align: left;
    margin-bottom: 1rem;
}
.close_ex_btn{
    font-size:1.5rem;
    font-weight: 600;
    color: rgb(11, 99, 59);
    margin-left: 20rem;
    text-align: left;
    margin-bottom: 1rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.close_ex_btn:hover{
    color: red;
}

.next_ex_btn{
    font-size:1.5rem;
    font-weight: 600;
    color: rgb(11, 99, 59);
    margin-left: 20rem;
    text-align: left;
    margin-bottom: 1rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.next_ex_btn:hover{
    color: red;
}
.save_ex_btn{
    font-size:1.5rem;
    font-weight: 600;
    color: rgb(11, 99, 59);
    margin-left: 20rem;
    text-align: left;
    margin-bottom: 1rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.save_ex_btn:hover{
    color: red;
}
.exit_btn{
    font-size:1.5rem;
    font-weight: 600;
    color: rgb(11, 99, 59);
    margin-left: 20rem;
    text-align: left;
    margin-bottom: 1rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.exit_btn:hover{
    color: red;
}

.really{
    display: none;
    position: fixed;
    top: 40%;
    z-index: 100;
    left: 37%;
    width: 20%;
    height: 15%;
    color: white;
    border: none;
    background-color: rgb(11, 99, 59);
}
.really_text{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    color: white
}
.really_btn{
    font-size:1.5rem;
    font-weight: 600;
    color: rgb(11, 99, 59);
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.really_btn_yes{
    background-color: white;
    color: rgb(11, 99, 59);
    border: none;
    margin-right: 5%;
    border-radius: 5px;
    width: 23%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.really_btn_no{
    background-color: white;
    color: rgb(11, 99, 59);
    border: none;
    border-radius: 5px;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}
.really_btn_yes:hover{
    background-color: rgb(11,22,11, 0.7);
    color: white;    
    font-weight: bolder;
}
.really_btn_no:hover{
    background-color: rgb(11,22,11, 0.7);
    color: white;    
    font-weight: bolder;
}
.create_rp{
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    margin-right: 160px;
}
.coin_rp{
    display: flex;
}
.create_rp_btn{
    width: 120px;
    height: 40px;
    color:rgb(11, 99, 59);
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Gawun Batang', 'Nanum Gothic', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
    overflow: auto;
    cursor: pointer;
}
.create_rp_btn:hover{
    background-color: rgba(21, 21, 21, 0.8);
    color: white;
}
.coin_rp{
    width: 120px;
    color:white;
    border: none;
    line-height: 40px;
    font-size: 19px;
    font-family:'Ubuntu', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-right:2px;
    letter-spacing: 0.1em;
}
.coin_num{
    letter-spacing: 0.16em;
}