<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Reading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/createMail.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@300&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Roboto+Condensed:ital,wght@0,100;1,200&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css" />
    <script src="../script/createMail.js" type="module"></script>

    <script src="https://unpkg.com/kursor"></script>

    <script>
        $(document).ready(function () {
            $('#nav-area').load('BackOffice.html')
        })
    </script>

</head>

<body>
    <div id="nav-area" style="z-index: 3; margin-right: -250px; height: 100%;"></div>

    <!-- email form -->
    <form class="form" style="width:1000px; height: 800px; margin-left: 50px;">
        <label>
            <input required="" placeholder="" type="email" class="input" id="email">
            <span>Title</span>
        </label>

        <label>
            <textarea required="" rows="3" placeholder="" class="input01" style="height: 500px;"
                id="content"></textarea>
            <span></span>
        </label>
        <label>
            <input required="" placeholder="" type="file" class="input" id="img">
            <span></span>
        </label>

        <button class="fancy" id="submit" href="" style="margin-top: 30px;">
            <span class="top-key"></span>
            <span class="text">submit</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </button>
    </form>
</body>

</html>