<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/DetailFAQ.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@300&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Roboto+Condensed:ital,wght@0,100;1,200&family=Ubuntu:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css" />

    <script src="https://unpkg.com/kursor"></script>
    <script>
      new kursor({
        type: 1,
        removeDefaultCursor: true
      })
    </script>
    <!-- <script src="../APIkey.js"></script> -->

    <script type="text/javascript">
      $(document).ready(function () {
        $('#nav').load('base.html')
      })
    </script>
  </head>

  <body>
    <div id="nav"></div>
    <div class = "FAQ_one">
        FAQ
        <div class = "FAQ_container">
            <div class= "faq_category">
                카테고리
            </div>
            <div class = "faq_title">
                FAQ의 제목입니다.
            </div>
            <div class = "faq_author">
                작성자
            </div>
            <div class = "faq_date">
                2022.23.22
            </div>
            <div class= "faq_ede">
              <button class = "faq_edit">수정하기</button>
              <button class = "faq_delete">삭제하기</button>
          </div>
            <div class = "faq_content">
              FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.
            </div>

            <div class = "faq_ans">
                <div class = "faq_ans_title">
                    답변
                </div>
                <div class="faq_ans_content">
                  답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.답변입니다.
                </div>
            </div>
          </div>


        <div class = "FAQ_container lock">
            <div class= "no_user">
                작성자와 관리자만 볼 수 있는 게시물입니다.
            </div>
            <div class= "no_login">
                로그인 후 다시 시도해주세요.
                <button class = "faq_login" onclick = "location.href = 'login.html'">Login</button>
            </div>
        </div>
    </div>
  </body>
</html>