<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/FAQList.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@300&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Roboto+Condensed:ital,wght@0,100;1,200&family=Ubuntu:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css" />

    <script src="https://unpkg.com/kursor"></script>
    <script>
      new kursor({
        type: 1,
        removeDefaultCursor: true
      })
    </script>
    <!-- <script src="../APIkey.js"></script> -->

    <script type="text/javascript">
      $(document).ready(function () {
        $('#nav').load('base.html')
      })
    </script>

  </head>

  <body>
    <div id="nav"></div>
    <div class="board">
      <div class="notice_board">
        <h1>? 공지사항</h1>
        <div class="notice_list">
          <div class="notice" title = "더보기" onclick="window.open('DetailNotice.html');">
            <div class="notice_title">
              <h2>공지사항 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="notice_content">
              <p>공지사항 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="notice" title = "더보기" onclick="window.open('DetailNotice.html');">
            <div class="notice_title">
              <h2>공지사항 제목이 들어갈 자리입니다공지사항 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="notice_content">
              <p>공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="notice" title = "더보기" onclick="window.open('DetailNotice.html');">
            <div class="notice_title">
              <h2>공지사항 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="notice_content">
              <p>공지사항 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="notice" title = "더보기" onclick="window.open('DetailNotice.html');">
            <div class="notice_title">
              <h2>공지사항 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="notice_content">
              <p>공지사항 내용이 들어갈 자리입니다공지사항 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="notice" title = "더보기" onclick="window.open('DetailNotice.html');">
            <div class="notice_title">
              <h2>공지사항 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="notice_content">
              <p>공지사항 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="notice" title = "더보기" onclick="window.open('DetailNotice.html');">
            <div class="notice_title">
              <h2>공지사항 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="notice_content">
              <p>공지사항 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="notice" title = "더보기" onclick="window.open('DetailNotice.html');">
            <div class="notice_title">
              <h2>공지사항 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="notice_content">
              <p>공지사항 내용이 들어갈 자리입니다</p>
            </div>
          </div>
        </div>
      </div>
      <div class="FAQ_board">
        <h1>? FAQ</h1>
        <div class="FAQ_list">
          <div class="FAQ locked" onclick="window.open('DetailFAQ.html')">
            <div class="FAQ_title lock">
              <img style = "imglock" src="../image/lock.png" alt="lock" />
              <h3> &nbsp;관리자와 작성자만 볼 수 있는 게시글입니다.</h3>
            </div>
          </div>
        </div>
          <div class="FAQ" onclick="window.open('DetailFAQ.html')">
            <div class="FAQ_title">
              <h2>공백포함 30자 이내의 제목이 들어가야 합니다.</h2>
            </div>
            <div class="FAQ_content">
              <p>FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다FAQ 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="FAQ" onclick="window.open('DetailFAQ.html')">
            <div class="FAQ_title">
              <h2>FAQ 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="FAQ_content">
              <p>FAQ 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class="FAQ" onclick="window.open('DetailFAQ.html')">
            <div class="FAQ_title">
              <h2>FAQ 제목이 들어갈 자리입니다</h2>
            </div>
            <div class="FAQ_content">
              <p>FAQ 내용이 들어갈 자리입니다</p>
            </div>
          </div>
          <div class = "FAQ_page">
              <a href = "#" title = "1페이지">1</a>
              <a href = "#" title = "2페이지">2</a>
              <a href = "#" title = "3페이지">3</a>
              <a href = "#" title = "4페이지">4</a>
              <a href = "#" title = "5페이지">5</a>
          </div>
          <button class="FAQ_write" onclick="location.href='CreateFAQ.html'" title = "FAQ 작성하기">작성하기</button>
        </div>
        
      </div>
    </div>
  </body>
</html>
