<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="fullpage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Roboto+Condensed:ital,wght@1,200&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <title>wanado</title>

</head>

<body>
    <div class="nav_box">
        <div class="site_name">
            <a href="main.html">wanado</a>
        </div>
        <div class="nav_menu">
            <li><a href="#">AI Chatting</a></li>
            <li><a href="#">AI Voca</a></li>
            <li><a href="#">Speaking</a></li>
            <div class="dropdown">
                <button class="dropbtn">News</button>
                <!-- <div class="dropdown-content">
                    
                    <a href="#">Lv 1</a>
                    <a href="#">Lv 2</a>
                    <a href="#">Lv 3</a>
                    <a href="#">Lv 4</a>
                    <a href="#">Lv 5</a>
                </div> -->
            </div>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">My Page</a></li>
        </div>
    </div>

    <div class="section" id="about">
        <div class="banner">
            <br><br>
            <h4>나만의 AI 영어 선생님,<h4>
                    <h1>WANADO</h1>
        </div>
        <div class="scroll_arrow">
            <img id="arrow" src="/image/arrow.png" onclick="scroll();" style="cursor:pointer;" alt="scroll_arrow">
            <script>
                document.getElementById("arrow").addEventListener("click", () => {
                    window.scrollTo({
                        top: 1100,
                        behavior: "smooth",
                    });
                });
            </script>
        </div>
    </div>

    <div class="section" id="main_chat">
        <img class="chatting_image" src="/image/chatting.png" alt="chatting">
        <!-- <img class = "chatting_image" src = "/image/chatting.jpg" alt = "chatting2"> -->
        <div class="chatting_text">
            <h1>AI Chatting</h1>
            <p>AI 채팅을 통해 나에게 맞는 대화를 이어나가보세요.</p>
            <button type="button" class="goto" onclick="location.href = '#'">바로가기 ➡</button>
        </div>
    </div>

    <div class="section" id="main_voca">
        <img class="voca_image" src="/image/voca.png" alt="chatting">
        <!-- <img class = "chatting_image" src = "/image/chatting.jpg" alt = "chatting2"> -->
        <div class="voca_text">
            <h1>AI VOCA</h1>
            <p>AI VOCA 설명을 작성해주세요. AI VOCA 설명</p>
            <button type="button" class="goto" onclick="location.href = '#'">⬅ 바로가기</button>
        </div>
    </div>

    <div class="section" id="main_sp">
        <img class="sp_image" src="/image/speak.jpg" alt="chatting">
        <!-- <img class = "chatting_image" src = "/image/chatting.jpg" alt = "chatting2"> -->
        <div class="sp_text">
            <h1>스마트 발음 연습</h1>
            <p>AI Speaking 설명을 작성해주세요. Speaking 설명</p>
            <button type="button" class="goto" onclick="location.href = '#'">바로가기 ➡</button>
        </div>
    </div>
    <div class="section" id="main_news">
        <img class="chatting_image" src="/image/news.jpg" alt="chatting">
        <!-- <img class = "chatting_image" src = "/image/chatting.jpg" alt = "chatting2"> -->
        <div class="news_text">
            <h1>레벨별 영어 뉴스</h1>
            <p>News 설명을 작성해주세요. News 설명</p>
            <button type="button" class="goto" onclick="location.href = '#'">⬅ 바로가기</button>
        </div>
    </div>
</body>

</html>