<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Modify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/DetailFAQ.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@300&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Roboto+Condensed:ital,wght@0,100;1,200&family=Ubuntu:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css" />
    <script src="../script/ModifyFAQ.js"></script>
    <script src="https://unpkg.com/kursor"></script>
    <script>
      new kursor({
        type: 1,
        removeDefaultCursor: true
      })
    </script>
    <!-- <script src="../APIkey.js"></script> -->

    <script type="text/javascript">
      $(document).ready(function () {
        $('#nav').load('base.html')
      })
    </script>
  </head>

  <body>
    <script src="../script/DetailFAQ.js"></script>
    <div id="nav"></div>
    <div class="FAQ_one">
      FAQ<form class="FAQ_container" id="faqContainer">
        <div class="faq_category" id="faqCategory">카테고리</div>
        <div class="faq_title" id="faqTitle">FAQ의 제목입니다.</div>
        <div class="faq_author" id="faqAuthor">작성자</div>
        <div class="faq_date" id="faqDate">2022.23.22</div>
        <div class="faq_ede">
          <button class="faq_edit" id="editButton" onclick="location.href = 'ModifyFAQ.html'">수정하기</button>
          <button class="faq_delete" id="deleteButton">삭제하기</button>
        </div>
        <div class="faq_content" id="faqContent">FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.FAQ의 내용입니다.</div>

        <div class="faq_ans">
          <div class="faq_ans_title">답변</div>

          <div class="FAQ_ans_edit">
            <textarea id="answerContentInput" placeholder=""></textarea>
            <button id="editAnswerButton">답변 수정</button>
            <button id="deleteAnswerButton">답변 삭제</button>
          </div>
        </div>
      </div>

      <div class="FAQ_container lock" id="lockContainer">
        <div class="no_user">작성자와 관리자만 볼 수 있는 게시물입니다.</div>
        <div class="no_login">
          로그인 후 다시 시도해주세요.
          <button class="faq_login" onclick="location.href = 'login.html'">Login</button>
        </div>
      </div>
    </form>
  </body>
</html>
