<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>MY PAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/myPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap'>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <noscript>
        <link rel="stylesheet" href="../css/noscript.css" />
    </noscript>
    <script src="../script/myPage.js" type="module"></script>
    <!-- <script src="../APIkey.js"></script> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#nav').load('base.html')
        })
    </script>
</head>

<body style="height: 100%;">
    <div id="nav" style="position: relative; z-index: 2;"></div>
    <div style="width: 100%;">
        <div class="background-upper"></div>
        <img src="../image/books.jpg" alt="background-img"
            style="width: 2000px; height: 1300px; position: relative; z-index: -1;">
    </div>
    <!-- 회원 정보 -->
    <article class="cta" id="profile-box" style="width: 550px;">
        <div class="cta__text-column" id="my-profile" style="margin-top: -20px;">
            <img src="https://media.licdn.com/dms/image/C5103AQE6wN_SiFGQrQ/profile-displayphoto-shrink_200_200/0/1517547117016?e=1701907200&v=beta&t=OIxWdliiKCDdNi-fyFFCUthcuYUcmSo6jQWTYX5uEt4"
                class="img-fluid profile-image" width="70" id="profile-img">
            <h2 id="nickname" style="color: black;">NICKNAME<br>hllee</h2>
            <form id="new-nick">
                <h4 style="margin-bottom: -35px; color: gray;">닉네임</h4>
                <label>
                    <input type="text" placeholder="Nickname" id="nick-val" />
                </label>
            </form>

            <h2 id="email" style="color: black;">EMAIL<br>dlgpfl1029@naver.com</h2>
            <form id="ex-pwd">
                <h4 style="margin-bottom: -35px; color: gray;">기존 비밀번호</h4>
                <label>
                    <input type="password" placeholder="기존 비밀번호" id="ex-pwd-val" />
                </label>
            </form>
            <form id="new-pwd1">
                <h4 style="margin-bottom: -35px; color: gray;">새 비밀번호</h4>
                <label>
                    <input type="password" placeholder="새 비밀번호" id="new-pwd-val1" />
                </label>
            </form>
            <form id="new-pwd2">
                <h4 style="margin-bottom: -35px; color: gray;">비밀번호 확인</h4>
                <label>
                    <input type="password" placeholder="새 비밀번호 확인" style="margin-bottom: 10px;" id="new-pwd-val2" />
                </label>
            </form>
            <form id="new-img">
                <h4 style="margin-bottom: -35px; color: gray;">프로필 사진</h4>
                <label>
                    <input type="file" id="new-profile-img" />
                </label>
            </form>
            <a style="cursor: pointer;" id="modify">프로필 수정</a>
        </div>
    </article>
    <!-- 회원정보 -->
    <article class="cta" style="margin-left: 1500px; height: 270px;">
        <div class="cta__text-column">
            <h2 style="color: black;">RANKING</h2>
            <h2 style="color: black;" id="rank">32 위</h2>
            <a href="../templates/Ranking.html">RANKER</a>
        </div>
        <div class="cta__text-column">
            <h2 style="color: black;">MY COIN</h2>
            <h2 style="color: black;" id="my-coin">30</h2>
            <a href="../templates/checkPage.html" id="go-buy-coin">COIN 구입</a>
        </div>
    </article>
    <!-- 메뉴 -->
    <article class="cta"
        style="width: 1400px; height: 300px; margin-left: 280px; margin-right: 470px; margin-top: 200px;" id="menu-box">
        <ul id="nav" style="margin-left: 50px;">
            <li class="nav-link" style="margin-top: 35px;">
                <h1 data-name="Word" id="my-word">WORD</h1>
            </li>
            <li class="nav-link" style="margin-top: 15px;">
                <h1 data-name="Reading" id="my-reading">READING</h1>
            </li>
        </ul>
        <h2 style="margin-left: 250px; margin-top: 50px;">푼 단어 문제 수</h2>
        <h2 style="margin-left: -170px; margin-top: 100px;" id="word-quiz">10개</h2>
        <h2 style="margin-left: 250px; margin-top: 50px;">푼 독해 문제 수</h2>
        <h2 style="margin-left: -170px; margin-top: 100px;" id="reading-quiz">15개</h2>
    </article>
</body>