<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>NewsPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap'>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
    <script src="../script/mypage.js" type="module"></script>
    
    <script src="https://unpkg.com/kursor"></script>
    <script>
        new kursor({
            type: 1,
            removeDefaultCursor: true,
        })
    </script>
    <!-- <script src="../APIkey.js"></script> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#nav').load('base.html')
        })
    </script>
</head>
<body>

  <div id="nav"></div>
  <br><br><br><br><br><br><br><br>
  <div class="profile_box">
    <div class="profile_img">
      <img src="/image/profile.jpg" id="my_profile_img" alt="profile" width="200px" height="200px" />
      <button type="button" class="upload_btn_mypage_" onclick="onClickUpload()" style="margin-top: 20px">
        파일 업로드
      </button>
      <input id="update_profile_img" type="file" accept="image/*" onchange="loadFile(event)"
        style="visibility: hidden" />
    </div>

    <div class="profile_info">
      <br><br>
      <div class="profile_info_text">이메일: <li id="my_email"></li>
      </div>

      <div class="profile_info_text">유저이름: <li id="username"></li>
        <input class="update_profile_text" id="update_username">
      </div>

      <div class="profile_info_text">닉네임: <li id="nickname"></li>
        <input id="update_nickname" class="update_profile_text">
      </div>


      <div class="password_edit">

        <div class="profile_info_text">비밀번호
          <button type="button" class="password_btn_mypage" onclick="OpenModal()" id="password">
            변경
          </button>
        </div>
        <span id="profile_update_errors" style="color: red;"></span> <br>

      </div>

      <button type="button" class="edit_btn_mypage" id="edit" onclick="handleUpdateProfile()">
        수정
      </button>
      <div class="myModal" id="myModal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" id="modalCloseButton" onclick="CloseModal()">&times;</span>
            <h2>비밀번호 변경</h2>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="form-group">
                <label for="password" class="modal_text">현재 비밀번호 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" class="form-control" id="update_present_pw" placeholder="현재 비밀번호를 입력하세요." />
              </div>
              <br />
              <div class="form-group">
                <label for="update_password_" class="modal_text">새 비밀번호
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" class="form-control" id="update_password_" placeholder="새 비밀번호를 입력하세요." />
              </div>
              <br />
              <div class="form-group">
                <label for="update_password_check" class="modal_text">비밀번호 확인 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" class="form-control" id="update_password_check"
                  placeholder="새 비밀번호를 다시 입력하세요." />
              </div>

              <span id="pw_update_errors" style="color: red; font-family: 'Gowun Batang', sans-serif;"></span> <br />
              <button type="submit" class="btn btn-primary" id="pw_submit_btn" onclick="handleUpdatePassword()">
                변경
          </div>
        </div>
      </div>


</body>

</html>