<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>NewsPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/NewsPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap'>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
    <script src="../script/NewsPage.js" type="module"></script>
    
    <script src="https://unpkg.com/kursor"></script>
    <script>
        new kursor({
            type: 1,
            removeDefaultCursor: true,
        })
    </script>
    <!-- <script src="../APIkey.js"></script> -->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#nav').load('base.html')
        })
    </script>
</head>
<body>
</body>
</html>